<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {{ partial "header.html" . }}
        <div id="posts-list">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="row posts-line">
              <!-- <div class="posts-date col-xs-1">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02.01"}}</time>
              </div> -->
              <div class="posts-title col-xs-12">
                <div class="row">
                  <div class="col-xs-9 col-sm-10">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                  <div class="col-xs-3 col-sm-2 posts-categories">
                    {{ with .Params.categories }} <!-- only first tag -->
                    {{ range first 1 . }}
                          <div class="posts-category">
                          <a href="/categories/{{ lower . }}/"> {{ . }} </a>
                        </div>
                      {{ end }}
                      {{ end }}
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
  {{ partial "analytics.html" . }}
  
</body>

</html>