<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script async src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>    
var _paq = _paq || [];

 window.addEventListener("load", function(){
     window.cookieconsent.initialise({
         "palette": {
             "popup": {
                 "background": "#edeff5",
                 "text": "#838391"
             },
             "button": {
                 "background": "#4b81e8"
             }
         },
         "theme": "edgeless",
         "type": "opt-in",
         "content": {
             "message": "Diese Website nutzt Matomo/Pewik für die Analyse von beliebten Artikeln. Hierzu werden die IP-Adressen in anonymisierter Form auf einem eigenen Server gepseichert.",
             "deny": "Ablehnen",
             "allow": "OK",
             "link": "Weitere Informationen",
             "href": "/datenschutz"
         },
         onInitialise: function (status) {
             var type = this.options.type;
             var didConsent = this.hasConsented();
             if (type == 'opt-in' && didConsent) {
                 // enable cookies
                 console.log('onInitialise in - begin' );
                 console.log(type );
                 console.log(didConsent);
                 console.log('onInitialise in - end' );
                 _paq.push(['rememberConsentGiven']);
                 // Dieser Teil kommt aus dem Matomo/Piwik Code
                 (function() {
                 var u="//analytics.gnisitricks.de/";
                  _paq.push(['setTrackerUrl', u+'js/']);
                  _paq.push(['setSiteId', '1']);
                  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
                })();
             }
             if (type == 'opt-in' && !didConsent) {
                 // disable cookies
                 console.log('onInitialise out - begin' );
                 console.log(type );
                 console.log(didConsent);
                 console.log('onInitialise out - end' );
                 _paq.push(['forgetConsentGiven']);
             }
         },
         onStatusChange: function(status, chosenBefore) {
             var type = this.options.type;
             var didConsent = this.hasConsented();
             if (type == 'opt-in' && didConsent) {
                 // enable cookies
                 console.log('onStatusChange in - begin' );
                 console.log(type );
                 console.log(didConsent);
                 console.log('onStatusChange in - end' );
                 _paq.push(['rememberConsentGiven']);
                 // Dieser Teil kommt aus dem Matomo/Piwik Code
                 (function() {
                    var u="//analytics.gnisitricks.de/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
             }
             if (type == 'opt-in' && !didConsent) {
                 // disable cookies
                 console.log('onStatusChange out - begin' );
                 console.log(type );
                 console.log(didConsent);
                 console.log('onStatusChange out - end' );
                 _paq.push(['forgetConsentGiven']);
             }
         }
     })
 });
</script>
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['requireConsent']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
</script>