<div class="site-footer">
  {{ range .Site.Params.socials }}
  <div class="site-footer-item">
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
  </div>
  {{ end }}
  <!-- <div class="site-footer-item">
    <a href="https://github.com/joway/hugo-theme-yinyang" target="_blank">Theme</a>
  </div> -->
  <!-- bottom of page -->
  {{ if .Param "hasMath"}}
    <script>renderMathInElement(document.body);</script>
  {{ end }}
</div>
