{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="signatures site-title">
    <a href="{{ .Site.LanguagePrefix }}/">{{ or .Site.Params.headTitle .Site.Author.name }}</a>
  </div>
</header>
<div class="row end-xs">
  {{ range .Site.Languages -}}
  {{ if ne .LanguageName $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }}
  {{ end }}
</div>
<!-- top of page -->
{{ if .Param "hasMath"}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
{{ end }}
<div class="header-line"></div>
