<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-6 col-lg-offset-3">
        {{ partial "header.html" . }}

        <h1 class="taxonomy-term">{{.Data.Term}}</h1>
        <div id="posts-list">
          {{ range (where .Data.Pages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
          <section>
            <h1 class="site-date-catalog">{{ .Key }}</h1>

            {{ range .Pages }}
            <div class="row posts-line">
              <!-- <div class="posts-date col-xs-2">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div> -->
              <div class="posts-title col-xs-12">
                <div class="row">
                  <div class="col-xs-12">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </div>
                </div>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>